@import "../../scss/variables";

.Pagination {
  margin-top: 52px;

  .page-item {
    margin-right: 15px;

    &.active {
      border-bottom: 6px solid #31657C;
      background: #fff !important;
    }

    .page-link {
      color: $primary-blue;
      border: none;
      border-radius: 0;
      border-bottom: 6px solid transparent;
      transition: all 0.4s;
      font-size: 28px;
      font-weight: bold;


      &:hover {
        border-bottom: 6px solid #31657C;
        background: #fff;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}
